@import "include-media";

@mixin btn {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: none;
}
@mixin input {
    background-color: transparent;
    border: 1px solid #d8dce0;
    padding: 1em;
}
@mixin title {
    font-size: 1.7em;
    font-weight: 400;
}
@mixin subtitle {
    font-size: 1.2em;
    font-weight: 200;
}
$indent: 10em 0;
$indent-tablet: 6em 0;
$header: #fff;
$dark: #000;
$first: #f3f3f3;
$second: #19bd9a;
$subtitle: #81868e;

.nav__menu {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    max-width: 60%;
    margin: 0 auto;
}
.nav__menu-item {
    text-align: center;
}
.nav__menu-link {
    font-size: 1.4em;
    color: #000;
}

.text {
    text-align: center;
    margin: 0 0 4em 0;
    /***MEDIA***/
    @include media("<=phone-landscape") {
        margin: 0 0 2.5em 0;
    }
}
.title {
    font-size: 1.8em;
    font-weight: 400;
    color: $subtitle;
    letter-spacing: 0.1em;
    margin: 0 0 1em 0;
    /***MEDIA***/
    @include media("<=phone") {
        margin: 0 0 1em 0;
    }
    @include media("<=phone-landscape") {
        margin: 0 0 0.5em 0;
    }
}
.subtitle {
    font-size: 1em;
    color: $subtitle;
    @include subtitle;
}
