@import "global.scss";
@import "nullstyle.scss";
@import "include-media";

//*************/.IMPORTS*************//

body {
    background-color: $first;
}

.header {
    background-color: #7f664d;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/header-1.png");
    min-height: 100vh;
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0c0b0b;
        opacity: 0.3;
    }
    .header__container {
        position: relative;
        min-height: 100vh;
        min-width: 100%;
        text-align: center;
        display: grid;
        grid-row-gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-rows: min-content;
    }
    .header__bar {
        z-index: 10;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        grid-template-rows: 0.5fr;
        grid-template-areas: "c d";
        padding: 10px 50px;
        /***MEDIA***/
        @include media("<=tablet") {
            grid-template-rows: 0.3fr;
        }
        @include media("<=phone-landscape") {
            display: none;
        }
    }
    .header__logo {
        grid-area: c;
        color: $header;
        font-size: 3em;
        font-weight: 700;
        font-size: 2em;
        /***MEDIA***/
        @include media("<=small-screens") {
            font-size: 1.7em;
        }
        @include media("<=phone") {
            grid-area: a;
            margin: 0;
            padding: 0 3 0 0;
            font-size: 38px;
        }
    }
    .header__nav {
        grid-area: d;
        @include media("<=phone") {
            grid-area: b;
        }
    }
    .nav__menu-link {
        cursor: pointer;
        color: $header;
        font-size: 1.4em;
        margin-right: 1.2em;
        &:last-child {
            margin-right: 0;
        }
        &:hover,
        &:focus {
            color: $second;
        }
        /*MEDIA*/
        @include media("<=tablet") {
            font-size: 1.1em;
            margin-right: 0.3em;
        }
    }
    .header__menu {
        margin: 0 0 0 auto;
        @include media("<=small-screens") {
            max-width: 80%;
        }
    }
    .header__bar.fixed {
        display: grid;
        position: fixed;
        min-width: 100%;
        grid-template-columns: auto 1fr;
        grid-template-rows: 50px;
        background-color: rgba(77, 83, 93, 0.6);
        padding: 0 10px;
        opacity: 0.98;
        transition: 0.2s linear;
        bottom: 0;
        /***MEDIA**/
        @include media("<=phone-landscape") {
            display: none;
        }
        .header__logo {
            font-size: 2.5em;
            font-weight: 900;
            color: $second;
            /***MEDIA**/
            @include media("<=small-screens") {
                font-size: 2em;
            }
            @include media("<=phone") {
                font-size: 2em;
                margin: 0;
            }
        }
        .nav__menu-link {
            z-index: 10;
            color: $header;
            opacity: 0.7;
            &:hover {
                color: #02bd7d;
                opacity: 1;
            }
            /***MEDIA**/
            @include media("<=small-screens") {
            }
        }
    }
}

.menu {
    display: none;
    min-height: 100vh;
    /***MEDIA***/
    @include media("<=phone-landscape") {
        display: block;
        position: relative;
    }
    .menu__bar {
        text-align: start;
        color: $header;
        z-index: 1;
        font-size: 1.5em;
        font-weight: 400;
    }
    .header__logo {
        color: $header;
        font-size: 1.2em;
    }
    .header__logo {
        font-weight: 700;
        font-size: 1.5em;
        padding: 0 1em;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            font-size: 1.2em;
        }
        @include media("<=phone") {
            font-size: 1.5em;
            padding: 0 0.3em;
        }
    }
    .menu__icon {
        position: fixed;
        color: $dark;
        font-size: 1.5em;
        left: 85%;
        top: 0;
        cursor: pointer;
        z-index: 1;
        /*MEDIA*/
        @include media("<=phone-landscape") {
            left: 92%;
        }
        @include media("<=phone") {
            left: 88%;
            top: 0;
        }
        @include media("<=sm-phone") {
            left: 85%;
        }
    }
    .menu__container {
        width: 100%;
        height: 0px;
        position: fixed;
        z-index: 1;
        background-color: rgba(77, 83, 93, 0.8);
        overflow: hidden;
    }
    .menu__close {
        position: absolute;
        top: 15%;
        right: 90%;
        font-size: 2em;
        color: $header;
        cursor: pointer;
        z-index: 1;
        display: none;
        /*MEDIA*/
        @include media("<=phone-landscape") {
            top: 12%;
            right: 92%;
            font-size: 1.7em;
        }
        @include media("<=phone") {
            top: 14%;
            right: 90%;
        }
    }
    .menu__close.active {
        display: block;
    }
    .nav {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .nav__menu {
        display: grid;
        grid-template-columns: 1fr;
    }
    .menu__link {
        z-index: 10;
        padding: 0;
        font-size: 1.1em;
        color: $header;
        text-transform: uppercase;
        /*MEDIA*/
        @include media("<=phone-landscape") {
            font-size: 1em;
        }
    }
    .menu__link.active {
        color: $second;
    }
}

//*************/.HEADER SECTION *************//

.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    color: $header;
    z-index: 1;
    display: grid;
    place-items: center;
    grid-template-columns: 2fr;
    grid-template-rows: min-content;
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        z-index: 0;
    }
    .about__title {
        font-size: 4em;
        /***MEDIA***/
        @include media("<=small-screens") {
            font-size: 3em;
        }
        @include media("<=tablet") {
            font-size: 2.5em;
        }
        @include media("<=phone") {
            font-size: 2em;
        }
    }
    .about__subtitle {
        font-size: 1.8em;
        text-align: center;
        /***MEDIA***/
        @include media("<=small-screens") {
            font-size: 1.2em;
        }
        @include media("<=tablet") {
            font-size: 1em;
        }
        @include media("<=phone") {
            font-size: 0.8em;
        }
    }
    .about__button {
        margin-top: 0.3em;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
    }
    .btn--about {
        position: relative;
        display: grid;
        place-items: center;
        border: none;
        background: $second;
        background-size: 18px;
        cursor: pointer;
        outline: none;
        width: 20px;
        min-height: 20px;
        border-radius: 100%;
        &::before {
            content: "";
            position: absolute;
            transform: translate(-50%, -50%);
            border: solid $header;
            border-width: 0 1px 1px 0;
            display: inline-block;
            padding: 2.6px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            &:hover,
            &:focus {
                border: solid $dark;
                border-width: 0 2px 2px 0;
                padding: 3px;
                z-index: 5;
            }
        }
    }
    .btn--about_bg {
        background: $second;
        width: 20px;
        min-height: 20px;
        border-radius: 100%;
        animation: pulse 1.2s ease infinite;
    }
    @keyframes pulse {
        0% {
            transform: scale(1, 1);
        }
        50% {
            opacity: 0.3;
        }
        100% {
            transform: scale(1.5);
            opacity: 0;
        }
    }
}

//*************/.ABOUT SECTION *************//

.description {
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: $indent;
    background-color: $header;
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        padding: 5em 0;
        min-height: auto;
        height: auto;
    }
    @include media("<=phone") {
        padding: $indent-tablet;
    }
    .description__container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
    }
    .description__inner {
        display: grid;
        grid-column-gap: 0.5em;
        grid-template-columns: 1fr 0.5fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a b"
            "d b";
        /***MEDIA***/
        @include media("<=phone-landscape") {
            grid-row-gap: 0.5em;
        }
        @include media("<=phone") {
            grid-row-gap: 3em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "r"
                "p";
        }
    }
    .description__section_1 {
        grid-area: a;
        display: grid;
        padding: 0 0 0 0.5em;
        grid-row-gap: 0.5em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "a"
            "b";
        /***MEDIA***/
        @include media("<=phone") {
            grid-area: r;
            padding: 0;
        }
    }
    .description__title {
        grid-area: a;
        display: grid;
        align-items: end;
        font-size: 1.5em;
        font-weight: 400;
        /***MEDIA***/
        @include media("<=phone") {
            font-weight: 600;
        }
    }
    .description__text {
        grid-area: b;
        display: grid;
        align-items: center;
        grid-template-columns: auto;
        grid-template-rows: auto;
        /***MEDIA***/
        @include media("<=phone") {
            padding: 0 0 0 0.5em;
        }
    }
    .description__subtitle {
        width: 60%;
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            width: auto;
        }
        @include media("<=phone") {
            margin: auto;
        }
    }
    .description__button {
        grid-area: "c";
        display: grid;
        align-items: start;
        padding: 0 0 0 0.5em;
        grid-template-columns: 0.2fr;
        grid-template-rows: minmax(0.3fr, auto);
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            grid-template-columns: 0.4fr;
        }
        @include media("<=phone") {
            justify-content: center;
            grid-template-columns: 0.6fr;
        }
        .btn--description {
            @include btn;
            color: $dark;
            font-weight: 400;
            font-size: 1.2em;
            border: 1px solid $dark;
            border-radius: 10em;
            padding: 0.2em 0.4em;
            &:hover {
                box-shadow: 0px 0px 1.5px 1px $dark;
            }
            /***MEDIA***/
            @include media("<=phone") {
                font-size: 1em;
            }
        }
    }
    .description__section_2 {
        grid-area: b;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        /***MEDIA***/
        @include media("<=phone") {
            grid-area: p;
        }
    }
    .description__image {
        margin: auto;
        /***MEDIA***/
        @include media("<=phone") {
            margin: auto;
        }
    }
}

//*************/.DESCRIPTION SECTION *************//

.details {
    display: grid;
    place-items: center;
    min-height: 100vh;
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        margin: $indent-tablet;
        min-height: auto;
        height: auto;
    }
    .details__container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
    }
    .details__inner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "a a"
            "b b"
            "c c";
    }
    .text {
        grid-area: a;
    }
    .details__icons-wrapper {
        grid-area: b;
        margin: 0 auto 6em auto;
        display: grid;
        grid-template-columns: repeat(3, 0.06fr);
        grid-template-rows: auto;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            margin: 0 auto 4.5em auto;
        }
        @include media("<=phone") {
            margin: 0 auto 4em auto;
        }
    }
    .details__icon {
        border-radius: 30px;
        background-color: #81868e;
        width: 50px;
        min-height: 50px;
        position: relative;
        margin-left: 1.5em;
        transition: 0.3s linear;
        &:nth-child(1) {
            margin: 0;
        }
        .img--description {
            max-width: 26px;
            min-height: 22px;
            display: block;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
        }
        &:hover {
            background-color: $second;
        }
        &:focus {
            background-color: $second;
        }
    }
    .details__text {
        grid-area: c;
        display: grid;
        grid-column-gap: 0.5em;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: minmax(3em, auto);
        grid-template-areas: "g o";
        /***MEDIA***/
        @include media("<=phone") {
            grid-column-gap: 0;
            grid-row-gap: 1em;
            padding: 0 0.5em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "g"
                "o";
        }
    }
    .details__section_1 {
        grid-area: g;
        padding: 0 0 0 0.5em;
        width: 55%;
        .details__title {
            font-size: 1.2em;
            font-weight: 400;
            letter-spacing: 0.08em;
            margin: 0 0 1em 0;
            font-weight: 600;
        }
        /***MEDIA***/
        @include media("<=phone-landscape") {
            width: auto;
        }
    }
    .details__section_2 {
        grid-area: o;
        padding: 0 0.5em 0 0;
        /***MEDIA***/
        @include media("<=phone") {
            padding: 0;
            margin: auto;
        }
    }
}

//*************/.DETAILS SECTION *************//

.projects {
    .projects__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b"
            "c";
    }
    .text {
        grid-area: a;
    }
    .projects__overview {
        grid-area: b;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr;
        &:nth-child(1) {
            grid-area: a;
        }
        &:nth-child(2) {
            grid-area: b;
        }
        &:nth-child(3) {
            grid-area: c;
        }
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            grid-template-rows: 0.8fr;
        }
        @include media("<=phone-landscape") {
            grid-template-rows: repeat(3, auto);
            grid-template-columns: 1fr;
            grid-row-gap: 1px;
        }
    }
    .projects__images {
        overflow: hidden;
        max-width: 100%;
        .project-img {
            object-position: center;
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    .projects__feedback {
        grid-area: c;
        background-size: cover;
        background-image: url("../img/project-backround.png");
        background-position: center;
        background-color: #19bd9a;
        display: grid;
        grid-column: 1 / 4;
        padding: 3em;
        grid-template-rows: 1.5fr;
        align-items: center;
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            padding: 2em;
        }
        @include media("<=phone-landscape") {
            grid-template-columns: 1fr;
            grid-row-gap: 0.3em;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "a"
                "b";
            padding: 0.5em 0.4em;
            font-size: 0.8em;
        }
    }
    .projects__text {
        padding: 0 1em;
        grid-column: 1 / 2;
        text-align: center;
        margin: 0 auto;
        color: $header;
        font-size: 1.4em;
        /***MEDIA***/
        @include media("<=phone") {
            grid-area: a;
            font-size: 1.1em;
        }
    }
    .projects__button {
        padding: 0 1em;
        height: auto;
        text-align: center;
        grid-column: 2 / 3;
        /***MEDIA***/
        @include media("<=phone") {
            grid-area: b;
        }
        .btn--project {
            color: $header;
            font-size: 1.2em;
            background: transparent;
            cursor: pointer;
            border: 1px solid $header;
            border-radius: 10em;
            padding: 0.5em 2em;
            position: relative;
            transform: translate(0%, 0%);
            transition: all 0.3 linear;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                top: -130px;
                margin: auto;
                display: block;
                border-radius: 50%;
                width: 300px;
                height: 300px;
                left: -75px;
                transition: box-shadow 0.5s ease-in-out;
                z-index: -1;
            }
            &:hover {
                color: $second;
                border: 1px solid $second;
            }
            &:hover::before {
                box-shadow: inset 0 0 0 160px $first;
            }
        }
    }
}

//*************/.PROJECTS SECTION*************//

.services {
    min-height: 100vh;
    display: grid;
    place-items: center;
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        margin: $indent-tablet;
        min-height: auto;
        height: auto;
    }
    @include media("<=phone") {
        margin: 6em 0 4em 0;
    }
    .services__container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-template-areas:
            "c c c"
            "a b b"
            "a b b"
            "a b b";
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            grid-template-columns: 1fr;
            grid-template-areas:
                "c"
                "a"
                "b";
        }
    }
    .text {
        grid-area: c;
    }
    .services__section_1 {
        grid-area: a;
        padding: 0.5em 0.5em;
    }
    .services__icons {
        display: grid;
        grid-row-gap: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, auto);
    }
    .services__icons-item {
        display: grid;
        align-items: center;
        grid-column-gap: 3rem;
        grid-template-columns: auto 1fr;
        &:first-child {
            font-size: 1.5em;
            font-weight: 500;
        }
    }
    .services__section_2 {
        grid-area: b;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        padding: 0.5em 0.5em;
        /*MEDIA*/
        @include media("<=desktop") {
            padding: 0.3em 0.3em;
        }
    }
    .services__skills {
        display: grid;
        grid-column-gap: 0.5em;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a b c"
            "d f g";
        place-items: center;
        margin: auto 0;
        /*MEDIA*/
        @include media("<=phone") {
            margin-top: 2em;
            grid-column-gap: 0.4em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
            grid-template-areas:
                "a"
                "d"
                "b"
                "f"
                "c"
                "g";
        }
        .circle_progress {
            stroke: #19bd9a;
            fill: transparent;
            color: #02bd7d;
            stroke-width: 5;
            transform-origin: center;
            transform: rotate(-90deg);
            transition: stroke-dashoffset 0.3 linear;
            stroke-dasharray: 300;
            stroke-dashoffset: 0;
        }
        .circle_text {
            font-size: 1em;
            background: transparent;
        }
        .text--branding {
            grid-area: d;
        }
        .text--web {
            grid-area: f;
        }
        .text--ui {
            grid-area: g;
        }
        .card--branding {
            grid-area: a;
        }
        .card--web {
            grid-area: b;
        }
        .card--ui {
            grid-area: c;
        }
        .circle--branding {
            grid-area: a;
            position: relative;
            .percent--branding {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.1em;
            }
        }
        .circle--web {
            grid-area: b;
            position: relative;
            .percent--web {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.1em;
            }
        }
        .circle--ui {
            grid-area: c;
            position: relative;
            .percent--ui {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 1.1em;
            }
        }
    }
}

//*************/.SERVICES SECTION*************//

.advantages {
    min-width: 100%;
    padding: 5em 2em;
    position: relative;
    background-color: $dark;
    background-size: cover;
    background-image: url("../img/advantages-bg.png");
    /*MEDIA*/
    @include media("<=small-screens") {
        padding: 3em 2em;
        z-index: 0;
    }
    @include media("<=tablet") {
        padding: 1em 1em;
        z-index: 0;
    }
    @include media("<=phone") {
        min-height: auto;
        height: auto;
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #0c0b0b;
        opacity: 0.1;
    }
    .advantages__container {
        margin: 0 auto;
        max-width: 1200px;
        display: grid;
        grid-template-columns: 0.7fr;
        font-size: 1.1em;
        z-index: 1;
        color: $header;
        position: relative;
        /***MEDIA***/
        @include media("<=desktop") {
            grid-template-columns: 0.65fr;
        }
        @include media("<=small-screens") {
            grid-template-columns: 1fr;
        }
        &::after {
            content: url("../img/1-adv.png");
            position: absolute;
            left: 80%;
            bottom: 35%;
            /***MEDIA***/
            @include media("<=desktop") {
                left: 73%;
                bottom: 37%;
            }
            @include media("<=small-screens") {
                display: none;
            }
        }
    }
    .advantages__info {
        color: $subtitle;
    }
    .advantages__title {
        color: $header;
        margin: 0 0 1em 0;
        font-size: 1.5em;
        letter-spacing: 0.2em;
        font-weight: 200;
    }
    .advantages__text {
        margin: 0 0 1em 0;
        font-size: 1em;
        /***MEDIA***/
        @include media("<=phone") {
            font-size: 0.9em;
        }
    }
    .advantages__author {
        color: $header;
    }
    .advantages__prof,
    .advantages__author {
        text-transform: uppercase;
        font-weight: 600;
    }
}

//*************/.ADVANTAGES SECTION *************//

.portfolio {
    margin: $indent;
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        margin: $indent-tablet;
    }
    .portfolio__container {
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
    }
    .title {
        grid-area: a;
    }
    .portfolio__nav {
        grid-area: b;
        margin: 0 0 2em 0;
        @include media("<=phone-landscape") {
            padding: 0 0.5em;
        }
    }
    .nav__menu-portfolio {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(95px, auto));
        @include media("<=tablet") {
            max-width: 100% !important;
        }
        @include media("<=phone-landscape") {
            grid-template-columns: repeat(auto-fit, minmax(85px, auto));
        }
        @include media("<=phone") {
            grid-template-columns: repeat(auto-fit, minmax(60px, auto));
        }
    }
    .portfolio__nav-link {
        font-size: 1.4em;
        color: $dark;
        margin-right: 1.2em;
        &:last-child {
            margin-right: 0;
        }
        /***MEDIA***/
        @include media("<=tablet") {
            font-size: 1.3em;
        }
        @include media("<=phone") {
            font-size: 1em;
        }
    }
    .portfolio__nav-link.active {
        color: $second;
        z-index: 10;
    }
    .portfolio__gallery {
        grid-area: c;
        padding: 0 0.5em;
    }
    .portfolio__gallery_item {
        display: none;
    }
    .portfolio__gallery_item.active {
        display: grid;
        text-align: center;
        grid-gap: 0.5em;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(5, 210px);
        grid-template-areas:
            "a b c d"
            "a f c d"
            "e f g h"
            "e k g m"
            "j k l m"
            "n n n n";
        /***MEDIA***/
        @include media("<=phone-landscape") {
            grid-gap: 0.2em;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(9, 180px);
            grid-template-areas:
                "a b"
                "a c"
                "d c"
                "e f"
                "e g"
                "h g"
                "j k"
                "j l"
                "m l";
        }
        /***MEDIA***/
        @include media(">phone", "<tablet") {
            grid-gap: 0.2em;
        }
    }
    .portfolio__gallery_link {
        position: relative;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        &:nth-child(1) {
            grid-area: a;
        }
        &:nth-child(2) {
            grid-area: b;
        }
        &:nth-child(3) {
            grid-area: c;
        }
        &:nth-child(4) {
            grid-area: d;
        }
        &:nth-child(5) {
            grid-area: e;
        }
        &:nth-child(6) {
            grid-area: f;
        }
        &:nth-child(7) {
            grid-area: g;
        }
        &:nth-child(8) {
            grid-area: h;
        }
        &:nth-child(9) {
            grid-area: j;
        }
        &:nth-child(10) {
            grid-area: k;
        }
        &:nth-child(11) {
            grid-area: l;
        }
        &:nth-child(12) {
            grid-area: m;
        }
    }
    .portfolio__feedback {
        grid-area: d;
        background-size: cover;
        background-color: $second;
        background-image: url("../img/h-background.png");
        margin: 5em 0 0 0;
        grid-gap: 1em;
        text-align: center;
        padding: 2.5em 1em;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            "a"
            "b";
        /***MEDIA***/
        @include media("<=desktop") {
            padding: 1em 0.5em;
        }
        @include media("<=tablet-landscape") {
            margin: 2em 0 0 0;
        }
    }
    .portfolio__text {
        grid-area: a;
        margin: auto 0 0 0;
        color: $header;
        font-size: 1.7em;
        /***MEDIA***/
        @include media("<=phone") {
            font-size: 1.1em;
            margin: 0;
        }
    }
    .portfolio__button {
        grid-area: b;
        padding: 0.5em 0;
        /***MEDIA***/
        @include media("<=phone") {
            padding: 0;
        }
        .btn--portfolio {
            color: $header;
            font-size: 1.2em;
            background: transparent;
            cursor: pointer;
            border: 1px solid $header;
            border-radius: 10em;
            padding: 0.5em 2em;
            position: relative;
            transform: translate(0%, 0%);
            transition: all 0.3s linear;
            overflow: hidden;
            &:before {
                content: "";
                position: absolute;
                top: -130px;
                margin: auto;
                display: block;
                border-radius: 50%;
                width: 300px;
                min-height: 300px;
                left: -75px;
                transition: box-shadow 0.5s ease-in-out;
                z-index: -1;
            }
            &:hover {
                color: $second;
                border: 1px solid $second;
            }
            &:hover::before {
                box-shadow: inset 0 0 0 160px $first;
            }
            /*MEDIA*/
            @include media(">phone", "<tablet") {
                padding: 0.5em 2.5em;
            }
        }
    }
}

//*************/.PORTFOLIO_BLOCK*************//

.team {
    display: grid;
    place-items: center;
    min-height: 100vh;
    /*MEDIA*/
    @include media("<=tablet-landscape") {
        min-height: auto;
        height: auto;
    }
    .team__container {
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
    }
    .team__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a a"
            "b b";
        /*MEDIA*/
        @include media("<=phone") {
            z-index: 0;
        }
    }
    .text {
        grid-area: a;
    }
    /***SLIDER***/
    .team__slider {
        grid-area: b;
        overflow: hidden;
        /***MEDIA***/
        @include media("<=desktop") {
            z-index: 0;
        }
        .owl-dots {
            text-align: center;
            .owl-dot {
                width: 0.5em;
                min-height: 0.5em;
                color: $header;
                margin: 0 0 0 0.5em;
                border-radius: 100%;
                background-color: $second;
            }
            .owl-dot.active {
                border: 1px solid $second;
                background-color: $header;
            }
        }
    }
    .team__slider_wrapper {
        display: grid;
        padding: 0 1em;
        grid-template-columns: auto 2fr;
        grid-template-rows: auto;
        grid-template-areas: "c d";
        /***MEDIA***/
        @include media("<=desktop") {
            padding: 0 0.5em;
            grid-column-gap: 0.5em;
            grid-template-columns: repeat(2, auto);
            margin-bottom: 1.5em;
        }
        @include media("<=phone") {
            grid-row-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "c"
                "d";
        }
    }
    /***./SLIDER***/
    .team__section_1 {
        grid-area: c;
        display: grid;
    }
    .team__image {
        margin: auto;
        /***MEDIA***/
        @include media("<=phone") {
            margin: auto;
        }
    }
    .team__section_2 {
        grid-area: d;
        display: grid;
        text-align: right;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a"
            "b";
        /***MEDIA***/
        @include media("<=phone") {
            padding: 0.5em 0.5em;
            grid-row-gap: 1em;
        }
    }
    .team__text {
        grid-area: a;
        position: relative;
    }
    .team__title {
        margin: 0 3em 1.5em 0;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            margin: 0 2em 1.5em 0;
        }
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-right: 0.2em solid $second;
            min-height: 40%;
            margin: 0 0 0 auto;
        }
    }
    .team__author {
        @include title;
    }
    .team__prof {
        @include subtitle;
        font-style: italic;
    }
    .team__subtitle {
        margin: 0 3em 0 0;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            margin: 0 2em 0 0;
        }
    }
    .team__skills {
        grid-area: b;
        display: grid;
        align-content: center;
        grid-template-columns: auto;
        grid-row-gap: 0.4em;
        justify-items: end;
    }
    .skills__bar {
        width: 15em;
    }
    .skills__text {
        display: grid;
        grid-template-columns: repeat(2, auto);
        justify-content: space-between;
        align-items: center;
    }
    .text_progress {
        width: auto;
        text-align: right;
        font-family: Arial, sans-serif;
        color: #202020;
        font-weight: 700;
        font-size: 14px;
    }
    .bg_progress {
        width: 100%;
        min-height: 5px;
        background: #d8dce0;
        border-radius: 2px;
        position: relative;
    }
    .current_progress {
        position: absolute;
        min-height: 5px;
        background: $second;
        border-radius: 2px;
    }
}

//*************/.TEAM SECTION*************//

.feedback {
    margin: $indent;
    background-position: center;
    background-size: cover;
    background-image: url("../img/contcs-baclground.png");
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        margin: $indent-tablet;
    }
    .feedback__container {
        display: grid;
        max-width: 100%;
        text-align: center;
        padding: 3em 3em;
        color: $header;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a"
            "b";
    }
    .feedback__text {
        grid-area: a;
        font-size: 1.5em;
    }
    .feedback__button {
        grid-area: b;
        margin: auto;
        .btn--feedback {
            border: 1px solid #2e2e2e;
            cursor: pointer;
            letter-spacing: 0.2125rem;
            line-height: 1;
            overflow: hidden;
            padding: 15px 20px;
            position: relative;
            text-align: center;
            text-transform: uppercase;
            user-select: none;
        }
        .btn--feedback a {
            color: $subtitle;
            text-decoration: none;
        }
        .btn--feedback .mask {
            background-color: $header;
            min-height: 100px;
            position: absolute;
            transform: translate3d(-120%, -50px, 0) rotate3d(0, 0, 1, 45deg);
            width: 200px;
        }
        .btn--feedback .shift {
            display: inline-block;
            vertical-align: text-top;
        }
        .btn--feedback:hover {
            background-color: rgba(255, 255, 255, 0.05);
            border-color: $header;
            box-shadow: 0 0 5px $header;
        }
        .btn--feedback:hover a {
            color: $header;
        }
        .btn--feedback:hover .mask {
            background-color: $header;
            transform: translate3d(120%, -100px, 0) rotate3d(0, 0, 1, 90deg);
        }
        .btn--feedback:hover .shift {
            transform: translateX(5px);
        }
        .btn--feedback:active {
            background-color: $header;
        }
        .btn--feedback:active a {
            color: #202020;
        }
    }
}

//*************/.FEEDBACK SECTION*************//

.testimonials {
    /***MEDIA***/
    @include media("<=phone") {
        min-height: auto;
        height: auto;
    }
    .testimonial__container {
        max-width: 1300px;
        margin: 0 auto;
    }
    .testimonial__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a"
            "b";
    }
    .testimonial_text {
        grid-area: a;
    }
    /***SLIDER***/
    .testimonial__slider {
        margin: 0 0 5em 0;
        overflow: hidden;
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            z-index: 0;
            margin: 0 0 3em 0;
        }
        @include media("<=phone") {
            z-index: 0;
        }
        .owl-dots {
            text-align: center;
            .owl-dot {
                width: 0.5em;
                min-height: 0.5em;
                color: $header;
                margin: 0 0 0 0.5em;
                border-radius: 100%;
                background-color: $second;
            }
            .owl-dot.active {
                border: 1px solid $second;
                background-color: $header;
            }
        }
    }
    /***./SLIDER***/
    .testimonial__card {
        grid-area: b;
        display: grid;
        align-items: center;
        justify-items: center;
        padding: 3em 3em;
        background-color: $header;
        grid-template-columns: auto 1fr;
        grid-auto-rows: 0.5fr auto;
        grid-template-areas: "h r";
        /***MEDIA***/
        @include media("<=phone-landscape") {
            padding: 1em 1em;
            grid-template-columns: 1fr;
            grid-row-gap: 1em;
            grid-template-rows: min-content;
            grid-template-areas:
                "a"
                "b";
        }
    }
    .testimonial__image {
        grid-area: h;
        overflow: hidden;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            grid-area: a;
        }
    }
    .testimonial__text {
        grid-area: r;
        margin: 0 0 0 5em;
        /***MEDIA***/
        @include media("<=phone-landscape") {
            grid-area: b;
            display: grid;
            margin: 0;
        }
    }
    .testimonial__name {
        font-weight: 700;
        color: #19bd9a;
    }
}

//*************/.TESTIMONIALS_BLOCK*************//

.news {
    display: grid;
    place-items: center;
    min-height: 100vh;
    opacity: 5;
    padding: 5em 5em;
    background-position: center;
    background-color: $dark;
    background-size: cover;
    background-image: url("../img/news-background.png");
    position: relative;
    /***MEDIA***/
    @include media("<=desktop") {
        padding: 2em 1em;
    }
    @include media("<=small-screens") {
        padding: 1em 1em;
    }
    @include media("<=tablet-landscape") {
        min-height: auto;
        height: auto;
        margin: $indent-tablet;
    }
    @include media("<=phone") {
        padding: 1em 0.5em;
    }
    .news__container {
        max-width: 1750px;
        margin: auto;
    }
    .news__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: "d";
    }
    /***SLIDER***/
    .news__slider {
        overflow: hidden;
        grid-area: d;
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            z-index: 0;
        }
        .owl-dots {
            text-align: center;
            .owl-dot {
                width: 0.6em;
                min-height: 0.6em;
                color: transparent;
                margin: 0 0 0 0.5em;
                border: 1px solid #b2b3b3;
                border-radius: 100%;
                background-color: transparent;
                margin: 0 0 0 0.3em;
                &:nth-child(1) {
                    margin: 0;
                }
            }
            .owl-dot.active {
                border: none;
                background-color: #b2b3b3;
            }
        }
    }
    /***./SLIDER***/
    .news__board {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "a"
            "b";
    }
    .news__section_1 {
        grid-area: a;
        color: $header;
    }
    .news__title {
        @include title;
    }
    .news__subtitle {
        margin: 1em 0 0 0;
        opacity: 0.5;
    }
    .news__section_2 {
        grid-area: b;
        display: grid;
        align-items: center;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        grid-template-areas:
            "a"
            "b"
            "c"
            "d";
        margin: 4em 0 0 0;
        padding: 0 5em;
        color: $header;
        /***MEDIA***/
        @include media("<=small-screens") {
            padding: 1em 0.5em;
            margin: 2em 0 0 0;
        }
    }
    .news__title-second {
        grid-area: a;
        font-size: 1.2em;
    }
    .news__author {
        grid-area: b;
        @include title;
        color: $second;
    }
    .news__social {
        grid-area: c;
        opacity: 0.2;
    }
    .news__quote {
        grid-area: d;
        color: $subtitle;
        margin: 2.7em 0 0 0;
    }
}

//*************/.NEWS SECTION*************//

.prices {
    margin: $indent;
    @include media("<=tablet-landscape") {
        margin: 0;
    }
    .prices__container {
        max-width: 1200px;
        margin: 0 auto;
    }
    .prices__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 0.5fr);
        grid-template-areas:
            "a"
            "b";
        /***MEDIA***/
        @include media("<=tablet-landscape") {
            grid-template-rows: 0.05fr auto;
        }
    }
    .text {
        grid-area: a;
    }
    .prices__overview {
        grid-area: b;
        padding: 0.5em;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: minmax(255px, auto);
        /***MEDIA***/
        @include media("<=phone-landscape") {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: auto;
            justify-content: center;
            grid-row-gap: 3em;
            grid-template-areas:
                "a"
                "b"
                "c";
        }
    }
    .prices__card {
        display: grid;
        text-align: center;
        grid-template-areas:
            "a"
            "b"
            "c";
        grid-template-columns: minmax(190px, auto);
        box-shadow: -1px 0px 7px 2px rgba(0, 0, 0, 0.22);
        color: $subtitle;
        background-color: $header;
    }
    .prices__card_top {
        grid-area: a;
        background-color: $second;
        font-size: 1.2em;
        color: #fff;
        display: grid;
        align-items: center;
    }
    .prices__card_center {
        grid-area: b;
        display: grid;
    }
    .prices__card_btm {
        grid-area: c;
        display: grid;
        align-items: center;
        background-color: $second;
        position: relative;
    }
    .prices__card_icon {
        position: absolute;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        fill: transparent;
        stroke: #fff;
        transform: rotate(270deg);
        top: 15%;
        left: 70%;
    }
    .prices__card_title {
        font-size: 1.2em;
        color: #fff;
    }
    .prices__card-first {
        grid-template-rows: 0.25fr 1fr;
        grid-template-areas:
            "a"
            "b";
    }
    .prices__card-second {
        grid-template-rows: 1fr 0.25fr;
        grid-template-areas:
            "b"
            "c";
    }
    .prices__card-third {
        grid-template-rows: 0.25fr 1fr;
        grid-template-areas:
            "a"
            "b";
    }
    .prices__card_duration {
        font-size: 1.3em;
        padding: 0.1em 0.1em;
        margin: 0 0 auto 0;
    }
    .prices__card_sum {
        font-size: 1.8em;
        font-weight: 700;
        color: $second;
        padding: 0.1em 0.1em;
        margin: auto 0 0 0;
    }
    .prices__services {
        padding: 0.5em 1.5em;
        text-align: start;
    }
}

//*************/.PRICES SECTION*************//

.subscribe {
    background-color: #333333;
    background-size: cover;
    background-position: center;
    background-image: url("../img/sub-background.png");
    opacity: 8;
    @include media("<=tablet-landscape") {
        margin: $indent-tablet;
    }
    .subscribe__container {
        max-width: 540px;
        margin: 0 auto;
        text-align: center;
        display: grid;
    }
    .subscribe__inner {
        padding: 5em 0;
        margin: auto 0;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a a"
            "b b";
        /*MEDIA*/
        @include media("<=phone-landscape") {
            padding: 3em 0;
        }
        @include media("<=phone") {
            padding: 2em 0;
        }
    }
    .text {
        grid-area: a;
        .title {
            color: $header;
        }
        .subtitle {
            color: $header;
        }
    }
    .subscribe__form {
        grid-area: b;
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        grid-template-rows: min(2.5em);
        grid-template-areas: "a b";
        /***MEDIA***/
        @include media("<=phone") {
            grid-row-gap: 1em;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, auto);
            grid-template-areas:
                "a"
                "b";
        }
    }
    .subscribe__input {
        grid-area: a;
        max-width: 134%;
        color: #cfd3d4;
        padding: 1em;
        color: $header;
        border: 1px solid $subtitle;
        background-color: transparent;
        opacity: 0.7;
        &:hover {
            border: 1px solid $header;
        }
        /***MEDIA***/
        @include media("<=phone") {
            grid-area: a;
            width: 90%;
            margin: auto;
        }
    }
    .subscribe__button {
        grid-area: b;
        display: grid;
        grid-template-columns: 0.9fr;
        grid-template-rows: 1fr;
        justify-content: end;
        /*MEDIA*/
        @include media("<=phone") {
            margin: 0 auto;
        }
        .btn--custom {
            padding: 0.6em 1.2em;
            font-size: 1em;
            font-weight: 200;
            background: transparent;
            outline: none !important;
            cursor: pointer;
            position: relative;
            display: inline-block;
            color: $header;
            &:hover,
            &:focus {
                color: $second;
            }
        }
        .btn--subscribe {
            width: 9em;
            min-height: 90%;
            line-height: 2.3em;
            padding: 0;
            border: none;
        }
        .btn--subscribe span {
            position: relative;
            display: block;
            width: 100%;
            min-height: 100%;
        }
        .btn--subscribe:before,
        .btn--subscribe:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: $second;
            transition: all 0.3s ease;
        }
        .btn--subscribe:before {
            height: 0%;
            width: 1px;
        }
        .btn--subscribe:after {
            width: 0%;
            min-height: 1px;
        }
        .btn--subscribe:hover:before {
            min-height: 100%;
        }
        .btn--subscribe:hover:after {
            width: 100%;
        }
        .btn--subscribe span:before,
        .btn--subscribe span:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: $second;
            transition: all 0.3s ease;
        }
        .btn--subscribe span:before {
            width: 1px;
            height: 0%;
        }
        .btn--subscribe span:after {
            width: 0%;
            min-height: 1px;
        }
        .btn--subscribe span:hover:before {
            min-height: 100%;
        }
        .btn--subscribe span:hover:after {
            width: 100%;
        }
    }
}

//*************/.SUBSCRIBE SECTION*************//

.contacts {
    min-height: 100vh;
    display: grid;
    place-items: center;
    /*MEDIA*/
    @include media(">phone", "<tablet") {
        margin: 5em 0;
    }
    @include media("<=tablet-landscape") {
        min-height: auto;
        height: auto;
    }
    .contacts__container {
        text-align: center;
        display: grid;
        grid-auto-rows: minmax(500px, auto);
        max-width: 1300px;
        margin: 0 auto;
    }
    .contacts__inner {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(200px, auto);
        grid-template-areas:
            "a"
            "b";
    }
    .text {
        grid-area: a;
    }
    .contacts__overview {
        grid-area: b;
        justify-content: space-between;
        display: grid;
        grid-gap: 2em;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: minmax(28em, auto);
        /***MEDIA***/
        @include media("<=tablet") {
            justify-content: center;
            grid-gap: 3em;
            grid-template-columns: 1fr;
            padding: 0.1em 0.1em;
        }
    }
    .contacts__card {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "a"
            "b";
    }
    .contacts__card_top {
        grid-area: a;
        display: grid;
        grid-template-rows: minmax(10em, auto);
        background-size: cover;
        position: relative;
    }
    .contacts__card_image {
        margin: auto;
        transform: scale(1);
        transition: 0.2s linear;
        &:hover {
            transform: scale(1.1);
        }
    }
    .contacts__card_btm {
        grid-area: b;
        display: grid;
        grid-template-rows: minmax(0.5fr, auto);
        grid-template-areas:
            "a"
            "b";
        background: $header;
    }
    .contacts__card_subtitle {
        grid-area: b;
        display: grid;
        padding: 0.5em 0.5em;
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr;
        grid-template-areas:
            "c"
            "d";
    }
    .contacts__card_city {
        padding: 0.5em 0.5em;
    }
    .requisites-1 {
        grid-area: c;
        color: $dark;
    }
    .requisites-2 {
        grid-area: d;
        color: $dark;
    }
    .contacts__card_title {
        grid-area: a;
        padding: 0.5em 0.5em;
        font-weight: 400;
        font-size: 1.2em;
        margin: auto;
    }
    .contacts__card-social {
        background-image: url("../img/contacts-1.png");
    }
    .contacts__card-office {
        background-image: url("../img/contacts-2.png");
    }
    .contacts__card-phone {
        background-image: url("../img/contacts-3.png");
    }
}

//*************/.CONTACTS SECTION*************//

.form {
    margin: $indent;
    padding: 0.5em 0.5em;
    /***MEDIA***/
    @include media("<=tablet-landscape") {
        margin: $indent-tablet;
    }
    @include media("<=phone") {
        padding: 0.1em 0.1em;
    }
    .form__container {
        max-width: 1300px;
        margin: 0 auto;
    }
    .form__group {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a a a"
            "b b b"
            "c c c";
    }
    .form__section_1 {
        grid-area: a;
        display: grid;
        justify-content: space-between;
        grid-template-columns: repeat(3, auto);
        grid-template-areas: "m t v";
        /***MEDIA***/
        @include media("<=tablet") {
            grid-area: a;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            grid-row-gap: 0.5em;
            grid-template-areas:
                "r"
                "p"
                "g";
        }
    }
    .form__section_2 {
        grid-area: b;
        display: grid;
    }
    .form__input {
        @include input;
        width: 318px;
        min-height: 40px;
        &:hover {
            border: 1px solid $second;
        }
        @include media("<=tablet") {
            min-width: 100%;
        }
    }
    .form__input-name {
        grid-area: m;
        /***MEDIA***/
        @include media("<=tablet") {
            grid-area: r;
        }
    }
    .form__input-email {
        grid-area: t;
        /***MEDIA***/
        @include media("<=tablet") {
            grid-area: p;
        }
    }
    .form__input-subject {
        grid-area: v;
        /***MEDIA***/
        @include media("<=tablet") {
            grid-area: g;
        }
    }
    .form__input-message {
        min-height: 190px;
        width: 100%;
        margin: 2.5em 0;
    }
    .form__button {
        grid-area: c;
        display: grid;
        grid-template-rows: 40px;
    }
    .btn--form {
        position: relative;
        transform-style: preserve-3d;
    }
    .btn--form .submited {
        transform: rotatex(-90deg);
    }
    .side {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: grid;
        align-items: center;
        backface-visibility: hidden;
    }
    .flip-front {
        font-size: 1em;
        background-color: $second;
        color: #202020;
        transform: translateZ(20.1px);
    }
    .flip-back {
        font-size: 1em;
        background-color: #202020;
        color: #fff;
        transform: rotateX(90deg) translateZ(20.1px);
    }
}

//*************/.FEEDBACK SECTION*************//

.map {
    max-width: 100%;
    height: 800px;
    /*MEDIA*/
    @include media("<=small-screens") {
        min-height: 100vh;
    }
    @include media("<=phone") {
        min-height: auto;
        height: auto;
    }
    .map__container {
        width: 100%;
        height: 100%;
        /*MEDIA*/
        @include media("<=small-screens") {
            height: 100vh;
        }
    }
    .map__iframe {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        &:hover .map__text {
            transform: translate(-100);
            height: 0;
            font-size: 0;
        }
        &:hover .map__title {
            font-size: 0;
        }
        /*MEDIA*/
        @include media("<=small-screens") {
            height: 100vh;
        }
    }
    .iframe-responsive {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        /*MEDIA*/
        @include media("<=small-screens") {
            height: 100vh;
        }
    }
    .map__text {
        display: grid;
        width: 100%;
        height: 100%;
        background-color: $dark;
        opacity: 0.9;
        align-items: center;
        justify-items: center;
        /*MEDIA*/
        @include media("<=small-screens") {
            height: 100vh;
        }
    }
    .map__title {
        font-weight: 200;
        font-size: 2em;
        color: $header;
        /***MEDIA***/
        @include media("<=phone") {
            font-size: 1.4em;
            top: 45%;
            left: 20%;
        }
    }
}

//*************/.MAP SECTION*************//

.footer {
    background-color: $first;
    margin: 4em 0;
    padding-bottom: 4em;
    .footer__container {
        display: grid;
        margin: 0 auto;
        text-align: center;
        align-content: center;
        height: 100%;
        max-width: 540px;
    }
    .footer__inner {
        margin: auto 0;
        display: grid;
        grid-row-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 0.5fr);
        grid-template-areas:
            "a"
            "b";
    }
    .footer__text {
        grid-area: a;
        @include subtitle;
    }
    .footer__title {
        font-weight: 900;
        font-size: 1.8em;
    }
    .footer__social {
        grid-area: b;
        display: grid;
        grid-template-columns: repeat(5, 0.07fr);
        grid-template-rows: auto;
        justify-content: center;
        /*MEDIA*/
        @include media("<=tablet-landscape") {
            grid-column-gap: 0.25em;
        }
    }
    .footer__svg {
        width: 35px;
        height: 35px;
        z-index: 10;
        transform: scale(1);
        transition: 0.1s linear;
        border-radius: 5px;
        &:hover {
            transform: scale(1.1);
        }
    }
}

//*************/.FOOTER SECTION*************//

@import "include-media.scss";
